.font-bolder{
    font-weight: bolder;
}

.top-row{
    margin-top:20px;
}

/* Notifications */
#notification-container {
    display: block;
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 5;
    filter:  alpha(opacity=50);
}

.notification {
    display: block;
    position: relative;
    padding: 15px 15px 15px 60px;
    overflow: hidden;
    width: 300px;
    border-radius: 5px;
    color: #fff;
    -webkit-animation: show-notification 3s ease-out;
    animation: show-notification 3s ease-out;
}

.notification-close {
    padding: 0;
    cursor: pointer;
    background: none;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd;
}

.notification-close::before {
    font-family: 'FontAwesome';
    font-size: 12px;
    font-weight: normal;
    content: '\f00d';
}

.notification-close:hover {
    color: #666;
}

.notification-title {
    font-size: 1.1em;
    font-weight: bold;
    z-index: 10;
}

.notification-success::before,
.notification-danger::before,
.notification-info::before,
.notification-warning::before {
    font-family: 'FontAwesome';
    font-size: 35px;
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.notification-success {
    background-color: #006400;
}

.notification-success::before {
    content: '\f058';
}

.notification-danger {
    background-color: #e85656;
}

.notification-danger::before {
    content: '\f057';
}

.notification-info {
    background-color: #2dacd1;
}

.notification-info::before {
    content: '\f05a';
}

.notification-warning {
    background-color: #dfb81c;
}

.notification-warning::before {
    content: '\f071';
}

/* color boton pdf */

.button.dt-button, div.dt-button, a.dt-button {
    border:none;
    background: #F04B46 !important;
    webkit-box-shadow: 0 1px #902d2a !important;
    box-shadow: 0 1px #902d2a !important;
    color: #fff !important;
}

.button.dt-button, div.dt-button, a.dt-button:hover {
    color: #fff !important;
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}

.button.dt-button, div.dt-button, a.dt-button::before{
    font-family: FontAwesome;
    content:'\f1c1';
}


/* color datatable dentro de modal  */

#detallePrecioProducto tbody tr td{
    color:#000 !important;    
}
/* modal xl */
.modal-xl {
    width: 95% !important;
   max-width:1300px !important;
  }

@media (min-width: 768px) {
    .modal-xl {
      width: 90%;
     max-width:1200px;
    }
  }

  